@using WordCounter;
@{
	ViewData["Title"] = "Word Count List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/wordcounter/new" role="button" class="btn btn-primary">New Word Search</a>

@foreach (KeyValuePair<Guid, WordSearch> item in Model)
{
	<a href="/wordcounter/@item.Key.ToString()">
		<p>@item.Key.ToString().Substring(0, 5) -- @item.Value.Keyword , @item.Value.Count</p>
	</a>
}
