@using WordCounter;
@{
	ViewData["Title"] = "Word Count List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/wordcounter/new" role="button" class="btn btn-primary">New Word Search</a>

@if (Model["message"] == 1)
{
<h4 class="errorText">Search not added to list - No keyword</h4>
}
@if (Model["message"] == 2)
{
<h4 class="errorText">Search not added to list - No text</h4>
}
@if (Model["message"] == 3)
{
<h4 class="errorText">Search not added to list - No keyword or text</h4>
}
@if (Model["message"] == 4)
{
<h4 class="errorText">Your search could not be found</h4>
}
@if (Model["message"] == 5)
{
<h4 class="errorText">Database Cleared</h4>
}

@foreach (KeyValuePair<Guid, WordSearch> item in Model["wordSearch"])
{
<a href="/wordcounter/@item.Key.ToString()">
	<h4>@item.Value.Count instances of : @item.Value.Keyword in @item.Value.WordsToCheck.Length letters</h4>
</a>
}
@*<a href="/wordcounter/delete" role="button" class="btn btn-primary">Clear Search List</a>*@

<form action="/wordcounter/delete" method="post">
	<button type="submit" class="btn btn-primary">Clear Search List</button>
</form>
