@using WordCounter;
@{
	ViewData["Title"] = "Word Count List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/wordcounter/new" role="button" class="btn btn-primary">New Word Search</a>

@foreach (KeyValuePair<Guid, WordSearch> item in Model)
{
	<a href="/wordcounter/@item.Key.ToString()">
		<h4>@item.Value.Count instances of : @item.Value.Keyword in @item.Value.WordsToCheck.Length letters</h4>
	</a>
}
