@using WordCounter;
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title></title>
	<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="~/js/script.js"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
	<div class="container">
		<h1>Word Counter</h1>
		<!-- <a href="/" role="button" class="btn btn-success">Main Page</a> -->
		<form action="/wordcounter" method="post">
			<div class="form-group">
				<input class="form-control keywordInput" type="text" placeholder="Keyword" name="keyword">
				<textarea class="form-control" placeholder="Searchable Text" name="wordsToCount" rows="8" cols="80"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<!-- <a href="/" role="button" class="btn btn-success">Main Page</a> -->
	</div>
</body>

</html>
