@using WordCounter;
@{
	ViewData["Title"] = "New Word Count";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <a href="/" role="button" class="btn btn-success">Main Page</a> -->
<!-- <a href="/" role="button" class="btn btn-success">Main Page</a> -->

<form action="/wordcounter" method="post">
	<div class="form-group">
		<input class="form-control keywordInput" type="text" placeholder="Keyword" name="keyword">
		<textarea class="form-control textInput" placeholder="Text to search" name="wordsToCount" rows="16" cols="80"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
