@using WordCounter;
@{
	ViewData["Title"] = Model.Keyword;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/wordcounter/" role="button" class="btn btn-primary">List</a>

<h1>@Model.Keyword - @Model.Count</h1>
<p><em>@Model.WordsToCheck</em></p>
