@using WordCounter;
@{
	ViewData["Title"] = Model.Keyword;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/wordcounter/" role="button" class="btn btn-primary">Return to List</a>

<h4>
	The Keyword "@Model.Keyword" apears @Model.Count times in the text below
</h4>
<p><em>@Model.WordsToCheck</em></p>
