@using WordCounter;
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Welcome to Word Counter</title>
	<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="~/js/script.js"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">	
	<link rel="stylesheet" href="~/css/splashStyles.css">
</head>

<body>
	<div class="rounded background centered">
		<h1 class="rounded">Word Counter</h1>
		<a href="/wordcounter" role="button" class="btn btn-primary">Let's get started</a>
	</div>
</body>

</html>
