h1 {
  text-align: center;
}

textarea {
  /* height: 200px; */
  /* width: 200px; */
  resize: none;
}

.form-control {
  margin: 5px;
}


.keywordInput {
  width: 25%
}

.btn {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
