/* Colors */

/* #282623
#562A11
#895B34
#C7A263
#516249
#EADEAE */

/* h1 {
  text-align: center;
  background-color: #895B34;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  font-size: 28px;
} */



h1 {
  text-align: center;
  /* font-size: 36px; */
}

textarea {
  /* height: 200px; */
  /* width: 200px; */
  resize: none;
}

.form-control {
  margin: 5px;
}


.keywordInput {
  width: 25%
}

.btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 140px;
}

body, html {
  background-image: url(../img/StarWars.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 100%;
  color: #EADEAE;
}

.container {
  background-color: rgba(52, 58, 64, 0.95);
  padding: 30px;
}

nav {
  margin-bottom: 20px;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
